.vscode/
.plastic/
*.meta
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
Assets/Art/
Assets/Audio/
Assets/Prefabs/
Assets/Configs/
Assets/Data/
Assets/Scenes/
Assets/EventChannels/
Assets/Settings/
ignore.conf
